* {
  margin: 0;
  padding: 0;
  font-family: Avenir;

}

#root {
  height: 70vh;
  margin: -30vh;
  padding: 30vh;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.quotebox {
  padding: 10px 25px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  max-width: 800px;
  margin: 30vh auto;
  background-color: rgb(241, 241, 241);
  border-radius: 20px;
}

.headline {
  text-align: center;
  margin: 35px;
}
.quote {
  margin: 20px;
  min-height: 150px;
}
.author {
  margin: 20px;
  text-align: right;
}
.button {
  color: white;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  border: medium white solid;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.button:hover {
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.button:focus {
  outline: none;
}